.sdMain {
  padding: 56px 0 90px;
  background: #fff;
  min-height: calc(100vh - 140px);
  font-family: Pretendard, system-ui, -apple-system, sans-serif;
}

.sdContainer {
  width: min(800px, 92vw);
  margin: 0 auto;
}

.sdSectionTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 18px;
  color: #111;
}

.sdSectionTitle--noMargin {
  margin: 0;
}

.sdStatsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  margin-bottom: 54px;
}

.sdStatCard {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  box-shadow: 0 10px 18px rgba(0,0,0,0.08);
  height: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.sdIconWrap {
  margin-bottom: 8px; 
}

.sdStatLabel {
  margin-bottom: 6px; /* 총 상품 & 수랑 값 간격 */
}

.sdStatValue--sales {
  margin-top: -4px;
}

.sdIconWrap {
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sdIconWrap--sales {
  margin-bottom: 6px; /* 매출이랑 가격 간격 */
}

.sdStatLabel {
  font-size: 16px;
  font-weight: 400;
  color: #111;
}

.sdStatValue {
  font-size: 22px;
  font-weight: 600;
  color: #111;
}

.sdProductsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0 14px;
}

.sdCreateBtn {
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
  background: #2D9DFF;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.sdTableWrap {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
}

.sdTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  table-layout: fixed;
}

.sdTable thead th {
  background: #e6e6e6;
  padding: 14px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #111;
}

.sdTable tbody td {
  padding: 14px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #111;
  border-top: 1px solid #e3e3e3;
}

.sdTable tbody tr:hover {
  background: #fafafa;
}

.sdPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 18px;
}

.sdPageBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
  color: #111;
  padding: 4px 8px;
  border-radius: 6px;
}

.sdPageBtn.is-active {
  border: 1px solid #d8d8d8;
  background: #fff;

  font-weight: 550;
}
