.successPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: Pretendard, system-ui, -apple-system, sans-serif;
}

.successWrap {
  width: 600px;
  max-width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.successLogo img {
  width: 350px;
  max-width: 75vw;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

.successTitle {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  color: #111;
}

.successSub {
  margin: 40px 0 40px;
  font-size: 20px;
  font-weight: 300;
  color: #222;
}

.successNick {
  font-weight: 300;
  font-size: 20px;
}

.successBtn {
  width: 380px;
  max-width: 100%;
  height: 52px;
  border: 0;
  border-radius: 10px;
  background: #2D9DFF;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
