#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}




/* 개발용 임시 버튼!!!!!!!!!!! 다하고지우기제발ㅜㅜㅜㅜㅜ!!!!!!!!!!!!!!!!! */
.dev-roleToggle {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 9999;
  border: 1px solid #ddd;
  background: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}
